body {
    margin: 0;
    padding: 0;
    background-image: url('/static/img/bg.jpg');
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Segoe UI', sans-serif;
    color: #fff;
}

.panel {
    background: rgba(0, 0, 0, 0.7);
    max-width: 700px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 15px cyan;
}

h1 {
    font-size: 26px;
    color: #00ffff;
    text-align: center;
    margin-bottom: 25px;
    font-family: 'monospace';
}

label {
    display: block;
    margin: 10px 0 5px;
    color: #ffd700;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin-bottom: 15px;
    background: #222;
    color: #fff;
}

button {
    width: 100%;
    padding: 12px;
    background: #00ff99;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    color: black;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover {
    background: #00cc88;
}

.log-box {
    background: #111;
    m
